@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --main-light: #353535;
    --main-dark: #292929;
}

body, html, h1 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
    background: var(--main-light);
}

h1{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(223, 224, 204);
}

body {
    min-height: 100vh;
}

header{
    position: -webkit-sticky;
    position: sticky;
    height: 3rem;
    width: 100%;
    display: grid;
    place-items: center;
    background: var(--main-light);
}

.left, .right{
    flex: 1;
}

.container{
    height: 100%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 750px){
    .left, .right{
        flex: inherit;
    }
    .right{
        display: none;
    }
    .container{
        justify-content: space-evenly;
    }
}

#map-container{
    height: calc(100vh - 3rem);
    width: 100%;
    box-sizing: border-box;
    filter: grayscale(30%);
}

footer{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    bottom: 0;
    height: 1.5rem;
    background: var(--main-light);
    font-size: 0.7rem;
}

#select{
    outline: none;
    border: none;
    width: min(30rem, 70%);
    background: var(--main-dark);
    height: 2.2rem;
    border-radius: 0.5rem;
    text-align: center;
    color: rgb(223, 224, 204);
}